In [3]:
import pandas as pd

In [24]:
df_num_col = ['Avg_Quality_Rating', 'Avg_Difficulty_Rating', 'Num_Ratings', 'Has_Pepper', 'Take_Course_Again', 'Num_Online_Ratings', 'Is_Male', 'Is_Female']

df_qual_col = ['Major_Field', 'University', 'US_State']

df_tags_col = ['Tough_Grader', 'Good_Feedback', 'Respected', 'Lots_To_Read',
    'Participation_Matters', 'Dont_Skip_Class', 'Lots_Of_Homework', 'Inspirational', 'Pop_Quizzes', 'Accessible', 'So_Many_Papers', 'Clear_Grading', 'Hilarious', 'Test_Heavy', 'Graded_By_Few', 'Amazing_Lectures', 'Caring', 'Extra_Credit', 'Group_Projects',
    'Lecture_Heavy']

In [25]:
df_num = pd.read_csv('rmpCapstoneNum.csv', header=None, names=df_num_col)
df_qual = pd.read_csv('rmpCapstoneQual.csv', header=None, names=df_qual_col)
df_tags = pd.read_csv('rmpCapstoneTags.csv', header=None, names=df_tags_col)

In [26]:
df_num.head(5)

,Avg_Quality_Rating,Avg_Difficulty_Rating,Num_Ratings,Has_Pepper,Take_Course_Again,Num_Online_Ratings,Is_Male,Is_Female
0,5.0,1.5,2.0,0.0,NaN,0.0,0,1
1,NaN,NaN,NaN,NaN,NaN,NaN,0,0
2,3.2,3.0,4.0,0.0,NaN,0.0,1,0
3,3.6,3.5,10.0,1.0,NaN,0.0,0,0
4,1.0,5.0,1.0,0.0,NaN,0.0,0,0

In [27]:
df_num.shape

(89893, 8)

In [28]:
df_qual.head(5)

        Major_Field                University US_State
0  Criminal Justice   George Mason University       VA
1               NaN                       NaN      NaN
2           English  Alabama State University       AL
3           English    University of Kentucky       KY
4           English         Keiser University       FL

In [29]:
df_qual.shape

(89893, 3)

In [30]:
df_tags.head(5)

,Tough_Grader,Good_Feedback,Respected,Lots_To_Read,Participation_Matters,Dont_Skip_Class,Lots_Of_Homework,Inspirational,Pop_Quizzes,Accessible,So_Many_Papers,Clear_Grading,Hilarious,Test_Heavy,Graded_By_Few,Amazing_Lectures,Caring,Extra_Credit,Group_Projects,Lecture_Heavy
0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,2,1,2,1,0,4,2,0,0,0,0,0,0,0,0,0,0,0,0,0
3,6,3,0,0,2,4,2,1,0,0,0,2,1,0,0,0,0,0,1,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [31]:
df_tags.shape

(89893, 20)

In [173]:
combined_df = pd.concat([df_num, df_qual, df_tags], axis=1)

In [174]:
combined_df.head(5)

,Avg_Quality_Rating,Avg_Difficulty_Rating,Num_Ratings,Has_Pepper,Take_Course_Again,Num_Online_Ratings,Is_Male,Is_Female,Major_Field,University,...,So_Many_Papers,Clear_Grading,Hilarious,Test_Heavy,Graded_By_Few,Amazing_Lectures,Caring,Extra_Credit,Group_Projects,Lecture_Heavy
0,5.0,1.5,2.0,0.0,NaN,0.0,0,1,Criminal Justice,George Mason University,...,0,0,0,0,0,0,0,0,0,1
1,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
2,3.2,3.0,4.0,0.0,NaN,0.0,1,0,English,Alabama State University,...,0,0,0,0,0,0,0,0,0,0
3,3.6,3.5,10.0,1.0,NaN,0.0,0,0,English,University of Kentucky,...,0,2,1,0,0,0,0,0,1,0
4,1.0,5.0,1.0,0.0,NaN,0.0,0,0,English,Keiser University,...,0,0,0,0,0,0,0,0,0,0

In [175]:
combined_df.shape

(89893, 31)

In [176]:
import numpy as np

In [177]:
N_NUMBER = 14048293
np.random.seed(N_NUMBER)
print(f"Random seed set to : {N_NUMBER}")

Random seed set to : 14048293

In [178]:
combined_df.isnull().sum()

Avg_Quality_Rating       19889
Avg_Difficulty_Rating    19889
Num_Ratings              19889
Has_Pepper               19889
Take_Course_Again        77733
Num_Online_Ratings       19889
Is_Male                      0
Is_Female                    0
Major_Field              19889
University               19889
US_State                 19889
Tough_Grader                 0
Good_Feedback                0
Respected                    0
Lots_To_Read                 0
Participation_Matters        0
Dont_Skip_Class              0
Lots_Of_Homework             0
Inspirational                0
Pop_Quizzes                  0
Accessible                   0
So_Many_Papers               0
Clear_Grading                0
Hilarious                    0
Test_Heavy                   0
Graded_By_Few                0
Amazing_Lectures             0
Caring                       0
Extra_Credit                 0
Group_Projects               0
Lecture_Heavy                0
dtype: int64

In [179]:
# To decide threshold value
print(combined_df['Num_Ratings'].describe())

count    70004.000000
mean         5.374721
std          8.136628
min          1.000000
25%          1.000000
50%          3.000000
75%          6.000000
max        393.000000
Name: Num_Ratings, dtype: float64

In [180]:
# Threshold selection based on Distribution Analysis
# Since 50% of professors have <= 3 ratings, we chose N=5
combined_df = combined_df[combined_df['Num_Ratings'] >= 3]

In [181]:
combined_df.shape

(40528, 31)

In [182]:
combined_df.isnull().sum()

Avg_Quality_Rating           0
Avg_Difficulty_Rating        0
Num_Ratings                  0
Has_Pepper                   0
Take_Course_Again        28368
Num_Online_Ratings           0
Is_Male                      0
Is_Female                    0
Major_Field                  0
University                   0
US_State                     0
Tough_Grader                 0
Good_Feedback                0
Respected                    0
Lots_To_Read                 0
Participation_Matters        0
Dont_Skip_Class              0
Lots_Of_Homework             0
Inspirational                0
Pop_Quizzes                  0
Accessible                   0
So_Many_Papers               0
Clear_Grading                0
Hilarious                    0
Test_Heavy                   0
Graded_By_Few                0
Amazing_Lectures             0
Caring                       0
Extra_Credit                 0
Group_Projects               0
Lecture_Heavy                0
dtype: int64

In [183]:
# Professor with 0 or NaN total ratings
initial_rows = len(combined_df)
combined_df.dropna(subset=['Num_Ratings'], inplace=True)
combined_df = combined_df[combined_df['Num_Ratings'] > 0]
print(f"Dropped rows with 0 or NaN total ratings. Rows removed: {initial_rows - len(combined_df)}")

Dropped rows with 0 or NaN total ratings. Rows removed: 0

In [184]:
combined_df.dropna(subset=['University', 'Major_Field', 'Num_Ratings'], inplace=True)

In [185]:
# Replace averages with Median because The median (the middle value of a sorted dataset) is preferred over the mean (average) for imputation because it is robust to outliers. If a column has a few extremely high or low values, the median remains a more representative, unbiased central tendency for the majority of the data.
cols = ['Avg_Quality_Rating', 'Avg_Difficulty_Rating', 'Take_Course_Again']
combined_df[cols] = combined_df[cols].fillna(combined_df[cols].median())

In [186]:
""" Replace Tags and Booleans with 0
combined_df[df_tags_col] = combined_df[df_tags_col].fillna(0)
combined_df[['Has_Pepper', 'Is_Male', 'Is_Female', 'Num_Online_Ratings']] = combined_df[['Has_Pepper', 'Is_Male', 'Is_Female', 'Num_Online_Ratings']].fillna(0)
 """

" Replace Tags and Booleans with 0\ncombined_df[df_tags_col] = combined_df[df_tags_col].fillna(0)\ncombined_df[['Has_Pepper', 'Is_Male', 'Is_Female', 'Num_Online_Ratings']] = combined_df[['Has_Pepper', 'Is_Male', 'Is_Female', 'Num_Online_Ratings']].fillna(0)\n "

In [187]:
""" Consistency for Clip proportions and resolve gender conflicts
combined_df['Take_Course_Again'] = np.clip(combined_df['Take_Course_Again'], 0, 1)
combined_df.loc[(combined_df['Is_Male'] == 1) & (combined_df['Is_Female'] == 1), ['Is_Male', 'Is_Female']] = 0
"""

" Consistency for Clip proportions and resolve gender conflicts\ncombined_df['Take_Course_Again'] = np.clip(combined_df['Take_Course_Again'], 0, 1)\ncombined_df.loc[(combined_df['Is_Male'] == 1) & (combined_df['Is_Female'] == 1), ['Is_Male', 'Is_Female']] = 0\n"

In [188]:
# For que Q1 to Q6. Only include records where gender is clearly defined as M or F
gender_df = combined_df[((combined_df['Is_Male'] == 1) | (combined_df['Is_Female'] == 1)) & ~((combined_df['Is_Male'] == 1) & (combined_df['Is_Female'] == 1))].copy()
male_ratings = gender_df[gender_df['Is_Male'] == 1]['Avg_Quality_Rating']
female_ratings = gender_df[gender_df['Is_Female'] == 1]['Avg_Quality_Rating']

In [189]:
combined_df.shape

(40528, 31)

In [190]:
combined_df.isnull().sum()

Avg_Quality_Rating       0
Avg_Difficulty_Rating    0
Num_Ratings              0
Has_Pepper               0
Take_Course_Again        0
Num_Online_Ratings       0
Is_Male                  0
Is_Female                0
Major_Field              0
University               0
US_State                 0
Tough_Grader             0
Good_Feedback            0
Respected                0
Lots_To_Read             0
Participation_Matters    0
Dont_Skip_Class          0
Lots_Of_Homework         0
Inspirational            0
Pop_Quizzes              0
Accessible               0
So_Many_Papers           0
Clear_Grading            0
Hilarious                0
Test_Heavy               0
Graded_By_Few            0
Amazing_Lectures         0
Caring                   0
Extra_Credit             0
Group_Projects           0
Lecture_Heavy            0
dtype: int64

In [191]:
from scipy import stats
import statsmodels.api as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.metrics import mean_squared_error, r2_score, roc_auc_score
from sklearn.preprocessing import StandardScaler

In [197]:
# Q1: Gender Bias in Rating
t_stat, p_val_q1 = stats.ttest_ind(male_ratings, female_ratings)

print({p_val_q1})

if p_val_q1 < 0.005:
    if male_ratings.mean() > female_ratings.mean():
        print("Yes, Student ratings are biased towards male professors")
    else:
        print("No, Student ratings are biased towards female professors")
else:
    print("No, The Student ratings are not biased towards any gender professors")

{np.float64(2.5003709380887638e-08)}
Yes, Student ratings are biased towards male professors

In [198]:
# Q2: Spread (Variance)
levene_stat, p_val_q2 = stats.levene(male_ratings, female_ratings)

if p_val_q2 < 0.005:
    if np.std(male_ratings) != np.std(female_ratings):
        print("Yes, Significant difference in the spread of ratings.")
else:
    print("No, No significant difference in the spread (variance) of ratings.")

Yes, Significant difference in the spread of ratings.

In [199]:
# Q3: Bootstrapping for 95% CI of Mean and Spread Differences
def get_ci(data1, data2, iterations=1000):
    mean_diffs, std_diffs = [], []
    for _ in range(iterations):
        s1 = np.random.choice(data1, len(data1), replace=True)
        s2 = np.random.choice(data2, len(data2), replace=True)
        mean_diffs.append(np.mean(s1) - np.mean(s2))
        std_diffs.append(np.std(s1) - np.std(s2))
    return np.percentile(mean_diffs, [2.5, 97.5]), np.percentile(std_diffs, [2.5, 97.5])

ci_mean, ci_std = get_ci(male_ratings, female_ratings)

print(f"Mean CI is {ci_mean}")
print(f"Spread CI is {ci_std}")

Mean CI is [0.04023532 0.08453507]
Spread CI is [-0.06722736 -0.03640891]

In [200]:
# Q4: Gender Difference in Tags
tag_pvals = {}
for tag in df_tags_col:
    m_tag = gender_df[gender_df['Is_Male'] == 1][tag]
    f_tag = gender_df[gender_df['Is_Female'] == 1][tag]
    _, p = stats.ttest_ind(m_tag, f_tag)
    tag_pvals[tag] = p
sorted_tags = sorted(tag_pvals.items(), key=lambda x: x[1])  

sig_tags = [tag for tag, p in tag_pvals.items() if p < 0.05]
print(f"Significant tags ({len(sig_tags)} total): {sig_tags}")

print("3 Most Gendered Tags are ", sorted_tags[:3])
print("3 Least Gendered Tags are ", sorted_tags[-3:])

Significant tags (16 total): ['Good_Feedback', 'Respected', 'Participation_Matters', 'Lots_Of_Homework', 'Inspirational', 'Pop_Quizzes', 'Accessible', 'So_Many_Papers', 'Hilarious', 'Test_Heavy', 'Graded_By_Few', 'Amazing_Lectures', 'Caring', 'Extra_Credit', 'Group_Projects', 'Lecture_Heavy']
3 Most Gendered Tags are  [('Hilarious', np.float64(3.556171870404177e-84)), ('Amazing_Lectures', np.float64(1.7382031009562905e-37)), ('Respected', np.float64(6.971956981753556e-31))]
3 Least Gendered Tags are  [('Clear_Grading', np.float64(0.4700269806324149)), ('Lots_To_Read', np.float64(0.7247611536913223)), ('Tough_Grader', np.float64(0.8825071780195864))]

In [201]:
# Q5 & Q6: Difficulty Difference
m_diff = gender_df[gender_df['Is_Male'] == 1]['Avg_Difficulty_Rating']
f_diff = gender_df[gender_df['Is_Female'] == 1]['Avg_Difficulty_Rating']
_, p_val_q5 = stats.ttest_ind(m_diff, f_diff)
ci_diff_mean, _ = get_ci(m_diff, f_diff)

if p_val_q5 < 0.05:
    print("Yes, Significant difference in difficulty. CI is {ci_diff_mean}")
else:
    print("No, No significant difference in difficulty. CI is {ci_diff_mean}")

No, No significant difference in difficulty. CI is {ci_diff_mean}

In [202]:
# For que Q7 to Q9. REGRESSION MODELS
def run_regression(data, target, predictors):
    X = data[predictors]
    y = data[target]
    
    scaler = StandardScaler()     # Coefficient comparison
    X_scaled = scaler.fit_transform(X)
    X_scaled = sm.add_constant(X_scaled)
    model = sm.OLS(y, X_scaled).fit()
    
    # RMSE
    preds = model.predict(X_scaled)
    rmse = np.sqrt(mean_squared_error(y, preds))
    
    # Strongest predictor (largest absolute coefficient)
    strongest_idx = np.argmax(np.abs(model.params[1:]))
    strongest_pred = predictors[strongest_idx]
    
    return model.rsquared, rmse, strongest_pred, model.summary()

In [203]:
# Q7: Numerical Predictors
num_preds = ['Avg_Difficulty_Rating', 'Num_Ratings', 'Has_Pepper', 'Take_Course_Again', 'Num_Online_Ratings', 'Is_Male', 'Is_Female']
r2_7, rmse_7, strong_7, summary_7 = run_regression(combined_df, 'Avg_Quality_Rating', num_preds)

print(f"(Num): R2={r2_7:.3f}, RMSE={rmse_7:.3f}, Strongest={strong_7}")

(Num): R2=0.479, RMSE=0.718, Strongest=Avg_Difficulty_Rating

In [204]:
# Q8: Tag Predictors for Quality
r2_8, rmse_8, strong_8, summary_8 = run_regression(combined_df, 'Avg_Quality_Rating', df_tags_col) 

print(f"(Quality Tags): R2={r2_8:.3f}, RMSE={rmse_8:.3f}, Strongest={strong_8}")

(Quality Tags): R2=0.300, RMSE=0.833, Strongest=Tough_Grader

In [235]:
# Q9: Tag Predictors for Difficulty
r2_9, rmse_9, strong_9, summary_9 = run_regression(combined_df, 'Avg_Difficulty_Rating', df_tags_col) 

print(f"(Difficulty Tags): R2={r2_9:.3f}, RMSE={rmse_9:.3f}, Strongest={strong_9}")

(Difficulty Tags): R2=0.259, RMSE=0.733, Strongest=Tough_Grader

In [236]:
# For Q10, Classification -> predict 'Has_pepper'. I am using all factors for prediction

######-> Add PCA

X_class = combined_df[num_preds + df_tags_col].drop('Has_Pepper', axis=1)
y_class = combined_df['Has_Pepper']

X_train, X_test, y_train, y_test = train_test_split(X_class, y_class, test_size=0.3, stratify=y_class)
clf = LogisticRegression(class_weight='balanced', max_iter=1000).fit(X_train, y_train)
auc_score = roc_auc_score(y_test, clf.predict_proba(X_test)[:, 1]) 

print(f"AUC Score is {auc_score:.3f}")

AUC Score is 0.765

In [210]:
# Extra credit: 
# Does "Hotness" vary by state?
state_hotness = combined_df.groupby('US_State')['Has_Pepper'].mean().sort_values(ascending=False).head(5)
print(state_hotness)

US_State
ANGUS         1.0
ANTRIM        1.0
SURREY        1.0
GLASGOW       1.0
DERBYSHIRE    1.0
Name: Has_Pepper, dtype: float64

In [208]:
# Calculate the 'personality' of each major
major_tags = combined_df.groupby('Major_Field')[df_tags_col].mean()

# Find the most 'Inspirational' majors vs the 'Tough Grader' majors
top_inspirational = major_tags['Inspirational'].sort_values(ascending=False).head(5)
top_tough = major_tags['Tough_Grader'].sort_values(ascending=False).head(5)

print("--- Extra Credit: Major Personalities ---")
print("Top 5 Most Inspirational Majors are \n", top_inspirational)
print("\nTop 5 Toughest Grading Majors are\n", top_tough)

--- Extra Credit: Major Personalities ---
Top 5 Most Inspirational Majors are
 Major_Field
Contemporary Music Writing       29.0
Academic Development             22.0
Kinesiology  Health Promotion    13.0
Speech & Hearing Sciences        12.0
Child & Family Studies           12.0
Name: Inspirational, dtype: float64

Top 5 Toughest Grading Majors are
 Major_Field
Communication  Culture           29.0
Teacher Education                17.0
Disability & Supported Ed.       13.0
Accounting & Finance             11.0
Criminology  Criminal Justice    11.0
Name: Tough_Grader, dtype: float64

In [226]:
#combined_df['Avg_Difficulty_Rating'].max()

np.float64(5.0)

In [211]:
# Normalize tags by number of ratings (tags per rating). This will help us to address the issue that more-rated professors will have more total tags
tag_cols = df_tags_col
for tag in tag_cols:
    combined_df[f'{tag}_normalized'] = combined_df[tag] / combined_df['Num_Ratings']

normalized_tag_cols = [f'{tag}_normalized' for tag in tag_cols]

In [223]:
from sklearn.cluster import KMeans
from scipy.stats import chi2_contingency

In [231]:
# Using machine learning to group professors into 5 "types" based on their teaching tags. 
# Professors naturally cluster into distinct teaching styles, not just random combinations of traits.

##############################################Clustering teaching style
# Preparing data 
X_cluster = combined_df[normalized_tag_cols].fillna(0)
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X_cluster)

# Determine optimal number of clusters using elbow method
inertias = []
K_range = range(3, 11)
for k in K_range:
    kmeans = KMeans(n_clusters=k, random_state=N_NUMBER, n_init=10)
    kmeans.fit(X_scaled)
    inertias.append(kmeans.inertia_)

# Use 5 clusters 
optimal_k = 5
kmeans = KMeans(n_clusters=optimal_k, random_state=N_NUMBER, n_init=20)
combined_df['Teaching_Archetype'] = kmeans.fit_predict(X_scaled) 


##############################################Teaching styles lead to higher ratings and which don't
archetype_profiles = {}
for cluster_id in range(optimal_k):
    cluster_data = combined_df[combined_df['Teaching_Archetype'] == cluster_id]
    
    profile = cluster_data[normalized_tag_cols].mean()
    
    # Find top 3 defining characteristics
    top_3_tags = profile.nlargest(3)
    top_3_names = [tag.replace('_normalized', '').replace('_', ' ') for tag in top_3_tags.index]
    
    avg_quality = cluster_data['Avg_Quality_Rating'].mean()
    avg_difficulty = cluster_data['Avg_Difficulty_Rating'].mean()
    pepper_rate = cluster_data['Has_Pepper'].mean()
    
    archetype_profiles[cluster_id] = {
        'top_tags': top_3_names,
        'avg_quality': avg_quality,
        'avg_difficulty': avg_difficulty,
        'pepper_rate': pepper_rate,
        'count': len(cluster_data)
    }
    
    print(f"Archetype {cluster_id + 1}: 'The {', '.join(top_3_names[:2])} Professor'")
    print(f"  Defining traits: {', '.join(top_3_names)}")
    print(f"  Avg Quality Rating: {avg_quality:.2f}")
    print(f"  Avg Difficulty: {avg_difficulty:.2f}")
    print(f"  'Hotness' Rate: {pepper_rate:.1%}")
    print(f"  N = {len(cluster_data):,} professors")
    print()

############################################## Evaluating teaching styles popularity in certain US regions
# Created regional groupings to map with provided
region_mapping = {
    'Northeast': ['CT', 'ME', 'MA', 'NH', 'RI', 'VT', 'NJ', 'NY', 'PA'],
    'Southeast': ['DE', 'FL', 'GA', 'MD', 'NC', 'SC', 'VA', 'WV', 'AL', 'KY', 'MS', 'TN', 'AR', 'LA', 'OK'],
    'Midwest': ['IL', 'IN', 'MI', 'OH', 'WI', 'IA', 'KS', 'MN', 'MO', 'NE', 'ND', 'SD'],
    'Southwest': ['AZ', 'NM', 'TX'],
    'West': ['CO', 'ID', 'MT', 'NV', 'UT', 'WY', 'AK', 'CA', 'HI', 'OR', 'WA']
}

state_to_region = {}
for region, states in region_mapping.items():
    for state in states:
        state_to_region[state] = region

combined_df['Region'] = combined_df['US_State'].map(state_to_region)

# Chi-square test for independence between region and archetype
contingency_table = pd.crosstab(combined_df['Region'], combined_df['Teaching_Archetype'])
chi2, p_value, dof, expected = chi2_contingency(contingency_table)

print(f"Chi-Square Test: Are teaching archetypes independent of region?")
print(f"  χ² = {chi2:.2f}, p-value = {p_value:.2e}")
if p_value < 0.005:
    print("  Result: SIGNIFICANT regional variation in teaching styles detected!")
else:
    print("  Result: No significant regional variation detected.")

print("\n  Most common archetype by region:")
for region in region_mapping.keys():
    region_data = combined_df[combined_df['Region'] == region]
    if len(region_data) > 0:
        dominant_archetype = region_data['Teaching_Archetype'].mode()[0]
        proportion = (region_data['Teaching_Archetype'] == dominant_archetype).mean()
        archetype_name = ', '.join(archetype_profiles[dominant_archetype]['top_tags'][:2])
        print(f"    {region}: Archetype {dominant_archetype + 1} ({archetype_name}) - {proportion:.1%}")

############################################## Evaluation teching style with respect to Major
top_majors = combined_df['Major_Field'].value_counts().head(10).index

print("Archetype distribution in top 10 most common majors:\n")
for major in top_majors:
    major_data = combined_df[combined_df['Major_Field'] == major]
    archetype_dist = major_data['Teaching_Archetype'].value_counts(normalize=True).sort_index()
    
    # Find dominant archetype
    dominant = archetype_dist.idxmax()
    dominant_pct = archetype_dist.max()
    
    print(f"{major}:")
    print(f"  Dominant: Archetype {dominant + 1} ({dominant_pct:.1%})")
    print(f"  Distribution: {dict(zip(archetype_dist.index + 1, archetype_dist.values))}")
    print()

############################################## Evaluating teching style for easy and tough subject
combined_df['Difficulty_Level'] = pd.cut(combined_df['Avg_Difficulty_Rating'], 
                                          bins=[0, 2.5, 3.5, 5], 
                                          labels=['Easy', 'Medium', 'Hard'])

print("Average quality rating by archetype and difficulty level is")
print("(This reveals which teaching styles work best at different difficulty levels)\n")

pivot_table = combined_df.pivot_table(
    values='Avg_Quality_Rating',
    index='Teaching_Archetype',
    columns='Difficulty_Level',
    aggfunc='mean',
    observed=False
)

for archetype_id in range(optimal_k):
    archetype_name = ', '.join(archetype_profiles[archetype_id]['top_tags'][:2])
    print(f"Archetype {archetype_id + 1} ({archetype_name}):")
    for diff_level in ['Easy', 'Medium', 'Hard']:
        if diff_level in pivot_table.columns:
            rating = pivot_table.loc[archetype_id, diff_level]
            print(f"  {diff_level} courses: {rating:.2f}")
    
    if 'Hard' in pivot_table.columns and 'Easy' in pivot_table.columns:
        resilience = pivot_table.loc[archetype_id, 'Hard'] - pivot_table.loc[archetype_id, 'Easy']
        print(f"  Difficulty resilience: {resilience:+.2f} (hard vs easy)")
    print()

############################################## Evaluating teching style with gender
gender_data = combined_df[((combined_df['Is_Male'] == 1) | (combined_df['Is_Female'] == 1)) & 
                          ~((combined_df['Is_Male'] == 1) & (combined_df['Is_Female'] == 1))].copy()

for archetype_id in range(optimal_k):
    archetype_subset = gender_data[gender_data['Teaching_Archetype'] == archetype_id]
    male_pct = (archetype_subset['Is_Male'] == 1).mean()
    female_pct = (archetype_subset['Is_Female'] == 1).mean()
    
    archetype_name = ', '.join(archetype_profiles[archetype_id]['top_tags'][:2])
    print(f"Archetype {archetype_id + 1} ({archetype_name}):")
    print(f"  Male: {male_pct:.1%}, Female: {female_pct:.1%}")
    print()

# Chi-square test for gender independence from archetype
gender_archetype_table = pd.crosstab(
    gender_data['Teaching_Archetype'],
    gender_data['Is_Male']
)
chi2_gender, p_gender, _, _ = chi2_contingency(gender_archetype_table)

print(f"Chi-Square Test: Is teaching archetype independent of gender?")
print(f"  χ² = {chi2_gender:.2f}, p-value = {p_gender:.2e}")
if p_gender < 0.005:
    print("  Result: SIGNIFICANT association between gender and teaching archetype!")
else:
    print("  Result: No significant association detected.")

Archetype 1: 'The Tough Grader, Dont Skip Class Professor'
  Defining traits: Tough Grader, Dont Skip Class, Lots Of Homework
  Avg Quality Rating: 3.15
  Avg Difficulty: 3.31
  'Hotness' Rate: 21.3%
  N = 13,394 professors

Archetype 2: 'The Respected, Hilarious Professor'
  Defining traits: Respected, Hilarious, Inspirational
  Avg Quality Rating: 4.57
  Avg Difficulty: 2.45
  'Hotness' Rate: 61.4%
  N = 8,998 professors

Archetype 3: 'The Tough Grader, Test Heavy Professor'
  Defining traits: Tough Grader, Test Heavy, Dont Skip Class
  Avg Quality Rating: 3.04
  Avg Difficulty: 3.54
  'Hotness' Rate: 17.6%
  N = 3,003 professors

Archetype 4: 'The Tough Grader, So Many Papers Professor'
  Defining traits: Tough Grader, So Many Papers, Lots To Read
  Avg Quality Rating: 3.15
  Avg Difficulty: 3.34
  'Hotness' Rate: 21.4%
  N = 2,522 professors

Archetype 5: 'The Good Feedback, Caring Professor'
  Defining traits: Good Feedback, Caring, Clear Grading
  Avg Quality Rating: 4.34
  Avg Difficulty: 2.57
  'Hotness' Rate: 46.0%
  N = 12,611 professors

Chi-Square Test: Are teaching archetypes independent of region?
  χ² = 112.34, p-value = 1.61e-16
  Result: SIGNIFICANT regional variation in teaching styles detected!

  Most common archetype by region:
    Northeast: Archetype 1 (Tough Grader, Dont Skip Class) - 33.3%
    Southeast: Archetype 1 (Tough Grader, Dont Skip Class) - 34.4%
    Midwest: Archetype 1 (Tough Grader, Dont Skip Class) - 34.0%
    Southwest: Archetype 1 (Tough Grader, Dont Skip Class) - 33.1%
    West: Archetype 5 (Good Feedback, Caring) - 31.9%
Archetype distribution in top 10 most common majors:

English:
  Dominant: Archetype 5 (41.4%)
  Distribution: {1: np.float64(0.20547275836794526), 2: np.float64(0.17859760566821403), 3: np.float64(0.003909113119960909), 4: np.float64(0.19814317126801856), 5: np.float64(0.41387735157586125)}

Mathematics:
  Dominant: Archetype 1 (36.5%)
  Distribution: {1: np.float64(0.3648936170212766), 2: np.float64(0.14574468085106382), 3: np.float64(0.13430851063829788), 4: np.float64(0.005585106382978724), 5: np.float64(0.349468085106383)}

Biology:
  Dominant: Archetype 1 (35.8%)
  Distribution: {1: np.float64(0.35804195804195804), 2: np.float64(0.19393939393939394), 3: np.float64(0.18974358974358974), 4: np.float64(0.015850815850815853), 5: np.float64(0.24242424242424243)}

Psychology:
  Dominant: Archetype 5 (31.0%)
  Distribution: {1: np.float64(0.28912725499756214), 2: np.float64(0.27840078010726477), 3: np.float64(0.0780107264748903), 4: np.float64(0.04485616772306192), 5: np.float64(0.3096050706972209)}

Chemistry:
  Dominant: Archetype 1 (43.2%)
  Distribution: {1: np.float64(0.4319826338639653), 2: np.float64(0.1316931982633864), 3: np.float64(0.15629522431259044), 4: np.float64(0.010130246020260492), 5: np.float64(0.2698986975397974)}

Business:
  Dominant: Archetype 1 (34.4%)
  Distribution: {1: np.float64(0.3444940476190476), 2: np.float64(0.22172619047619047), 3: np.float64(0.06994047619047619), 4: np.float64(0.046875), 5: np.float64(0.3169642857142857)}

Communication:
  Dominant: Archetype 5 (38.3%)
  Distribution: {1: np.float64(0.24786986831913246), 2: np.float64(0.28117738187451585), 3: np.float64(0.024786986831913247), 4: np.float64(0.0627420604182804), 5: np.float64(0.38342370255615804)}

History:
  Dominant: Archetype 1 (41.3%)
  Distribution: {1: np.float64(0.41284403669724773), 2: np.float64(0.2285237698081735), 3: np.float64(0.05254378648874062), 4: np.float64(0.10341951626355296), 5: np.float64(0.20266889074228525)}

Computer Science:
  Dominant: Archetype 1 (40.3%)
  Distribution: {1: np.float64(0.4025423728813559), 2: np.float64(0.18305084745762712), 3: np.float64(0.06949152542372881), 4: np.float64(0.023728813559322035), 5: np.float64(0.3211864406779661)}

Sociology:
  Dominant: Archetype 1 (34.5%)
  Distribution: {1: np.float64(0.3447171824973319), 2: np.float64(0.29562433297758806), 3: np.float64(0.04375667022411953), 4: np.float64(0.0736392742796158), 5: np.float64(0.24226254002134473)}

Average quality rating by archetype and difficulty level is
(This reveals which teaching styles work best at different difficulty levels)

Archetype 1 (Tough Grader, Dont Skip Class):
  Easy courses: 3.72
  Medium courses: 3.36
  Hard courses: 2.68
  Difficulty resilience: -1.05 (hard vs easy)

Archetype 2 (Respected, Hilarious):
  Easy courses: 4.65
  Medium courses: 4.49
  Hard courses: 4.30
  Difficulty resilience: -0.35 (hard vs easy)

Archetype 3 (Tough Grader, Test Heavy):
  Easy courses: 3.69
  Medium courses: 3.40
  Hard courses: 2.67
  Difficulty resilience: -1.02 (hard vs easy)

Archetype 4 (Tough Grader, So Many Papers):
  Easy courses: 3.78
  Medium courses: 3.41
  Hard courses: 2.64
  Difficulty resilience: -1.14 (hard vs easy)

Archetype 5 (Good Feedback, Caring):
  Easy courses: 4.47
  Medium courses: 4.26
  Hard courses: 4.00
  Difficulty resilience: -0.47 (hard vs easy)

Archetype 1 (Tough Grader, Dont Skip Class):
  Male: 52.9%, Female: 47.1%

Archetype 2 (Respected, Hilarious):
  Male: 63.3%, Female: 36.7%

Archetype 3 (Tough Grader, Test Heavy):
  Male: 58.5%, Female: 41.5%

Archetype 4 (Tough Grader, So Many Papers):
  Male: 46.0%, Female: 54.0%

Archetype 5 (Good Feedback, Caring):
  Male: 46.4%, Female: 53.6%

Chi-Square Test: Is teaching archetype independent of gender?
  χ² = 515.10, p-value = 3.62e-110
  Result: SIGNIFICANT association between gender and teaching archetype!

In [218]:
#